{% extends "layout.html" %}

{% block content %}
        <h1>ログイン</h1>
    <div id = "form">
        <form method="POST" action="/login">
            <p>メールアドレス</p>
                <label class ="ef"><input type="email" name="email" placeholder="" autofocus=""></label>
                <p>パスワード</p>
                <label class ="ef"><input type="password" name="password" placeholder=""></label>
                <p class = "check"><label>
                    <input type="checkbox">
                    このコンピュータに記憶する
                </label>
                </p>
            <p class="submit"><button>ログイン</button></p>
        </form>
    </div>
        <a href="{{ url_for('auth.signup') }}">新規登録する</a>
    </div>
{% endblock %}