{% extends "layout.html" %}

{% block content %}
    <div id = "form">
        <h1>新規登録</h1>
            <form action="/signup" method="POST">
                <p>ユーザ名</p>
                <input type="text" name="name" placeholder="" autofocus="">
                <p>メールアドレス</p>
                <input type="email" name="email" placeholder="" autofocus="">
                <p>パスワード</p>
                <input type="password" name="password" placeholder="">
                <p class ="submit"><button>新規登録</button></p>
            </form>
    </div>
{% endblock %}l