{% extends "layout.html" %}

{% block content %}
    <h1>マイページ</h1>

    {% for question in questions %}
    <ul>
        <li>ユーザ名：{{ question.title }}</li>
        <p>プロフィール：{{ question.body }}</p>
    </ul>
    <!-- <ul>
        <li><a href="{{ url_for('questions.add') }}">プロフィールを新しく作る</a></li>
    </ul> -->
            <span><button><a href="{{ url_for('questions.update', question_id=question.id) }}">プロフィールを編集する</a></button></span>
        <!-- <form action="{{ url_for('questions.delete', question_id=question.id) }}" method="POST">
            <button type="submit"><a>プロフィールを消す</a></button> -->
        </form>
    {% endfor %}

{% endblock %}