{% extends "layout.html" %}
 
{% block content %}
    <h1>まっちむとは</h1>
    <p>まっちむは、大乱闘スマッシュブラザーズSPECIALのチーム対戦の対戦相手を見つけることを目的としたWEBサービスです。対戦相手を気軽に見つけることができるフリーチーム対戦や、実力を図るレーティング対戦をすることができます。登録にはTwitterアカウントが必要です。
    </p>
    <br>
    <h1>利用規約</h1>
    <p>スマメイトの利用規約です。 当サイトを利用された時点で当規約に同意されたものとみなされますので、必ず最後までお読み下さい。
  この規約を守って頂けない場合、程度によっては機能規制、アクセス拒否、IPアドレス・ホストの公開、警察サイバー犯罪対策課への通報などを行う事があります。</p>
  <br>
  <ul class = "tos">
    <li>
      <a>・荒らし及び不正行為は全面禁止です。また、明らかに悪意のあると思われる荒らしには絶対に反応(返信や注意など)せずに、無視して下さい。</a>
    </li>
    <li>
      <a>・極力敬語（丁寧語）を使用してください。程度によって荒らしと判断する場合があります。</a>
    </li>
    <li>
      <a>・宗教やアダルトなどの青少年に悪影響を及ぼす可能性のあるキーワードの表現などは一切禁止します。</a>
    </li>
    <li>
      <a>・レーティング対戦において、対戦を目的とせずレートだけを上げる行為は全面禁止です。</a>
    </li>
    <li>
      <a>・当サイトを著しくサーバの負荷をかける行為、もしくはサーバをダウンさせる行為は、アクセス制限及び法的に処分を行う場合があります。※過去に被害報告を行い、警察の捜査のもと家宅捜索を行った例があります。</a>
    </li>
    <li>
      <a>・利用規約は当サイトの都合により改正することができます。追加、削除、別途定めた場合は改正規約に同意した前提とします。</a>
    </li>
  </ul>
  <br>
  <h1>レーティング対戦ルール</h1>
  <p>参加条件
  レーティング対戦への参加には、下記の条件を満たす必要があります。
  
  1.スマメイトアカウント作成から丸5日経過している
  2.プロフィール編集にて必要な設定項目をすべて入力している
  3.ルールチェックに合格している
  </p>
  </div>
{% endblock %}