<!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="apple-touch-icon" href="static/images/logo.png">
    <title>まっちむ</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <!-- フォント -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
</head>
 
<body>
 
<div id = "pagebody">
    <div class="styleBySide">
      <!-- ログイン -->
      <div class="login">
        <ul>
            {# ログインしていれば表示 #}
            {% if  current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
            {% endif %}
         
            {#ログインしていなければ表示#}
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.signup') }}">新規登録</a></li>
                <li><a href="{{ url_for('auth.login') }}">ログイン</a></li>
            {% endif %}
        </ul>
      </div>
      
      <!-- ロゴ -->
      <div class="logo">
        <h1><a href="{{ url_for('index') }}"><img src="/static/images/logomozi.png" alt="まっちむロゴ"  width="300" height="80"></a></h1>
      </div>
    </div>
    <!-- メニュー -->
    <nav>
      <ul class="nav">
        <li>
          <a href="{{ url_for('index') }}" class="btn">ホーム</a>
        </li>
        <li>
          <a href="{{ url_for('mypage') }}" class="btn">マイページ</a>
        </li>
        <li>
          <a href="{{ url_for('free') }}" class="btn">フリー対戦</a>
        </li>
        <li>
          <a href="rate.html" class="btn">レーティング対戦</a>
        </li>
      </ul>
    </nav>

    {# flaskのメッセージを表示 #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
{% block content %}
{% endblock %}

<br>
<div class="footer-text-center">
  Respected <a href="https://www.smashbros.com/ja_JP/" target="_blank">大乱闘スマッシュブラザーズ</a><br>
  Copyright&nbsp;&copy;&nbsp;2020&nbsp;<a href="https://twitter.com/SSBU_Ellie" target="_blank">えりー</a>&nbsp;All&nbsp;rights&nbsp;reserved.</p>
</div>
</div>
</body>
 
</html>